<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>FilterDispatcher</filter-name>
        <filter-class>khanghv.filter.FilterDispatcher</filter-class>
    </filter>
    <filter>
        <filter-name>AuthorizedFilter</filter-name>
        <filter-class>khanghv.filter.AuthorizedFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthorizedFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterDispatcher</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>khanghv.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadingCakeController</servlet-name>
        <servlet-class>khanghv.controllers.LoadingCakeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCakeController</servlet-name>
        <servlet-class>khanghv.controllers.SearchCakeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadDetailController</servlet-name>
        <servlet-class>khanghv.controllers.LoadDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>khanghv.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateController</servlet-name>
        <servlet-class>khanghv.controllers.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCakeController</servlet-name>
        <servlet-class>khanghv.controllers.CreateCakeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>khanghv.controllers.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductInCartController</servlet-name>
        <servlet-class>khanghv.controllers.DeleteProductInCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductInCartController</servlet-name>
        <servlet-class>khanghv.controllers.UpdateProductInCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutController</servlet-name>
        <servlet-class>khanghv.controllers.CheckoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrackOrderController</servlet-name>
        <servlet-class>khanghv.controllers.TrackOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadingCakeController</servlet-name>
        <url-pattern>/LoadingCakeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCakeController</servlet-name>
        <url-pattern>/SearchCakeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadDetailController</servlet-name>
        <url-pattern>/LoadDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateController</servlet-name>
        <url-pattern>/UpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCakeController</servlet-name>
        <url-pattern>/CreateCakeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/AddToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductInCartController</servlet-name>
        <url-pattern>/DeleteProductInCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductInCartController</servlet-name>
        <url-pattern>/UpdateProductInCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutController</servlet-name>
        <url-pattern>/CheckoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrackOrderController</servlet-name>
        <url-pattern>/TrackOrderController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>-->
</web-app>
